{% extends "base.jinja" %}

{% block content %}
    <h2> <b> <u> Book Library </u> </b> </h2>
    {% for book in books_to_display %}
        <div class="book">
            <h2> {{book.title}}</h2>
            <h4>Author:  {{book.author.id}}</h4>
            <h4>Genre:  {{book.genre}}</h4>
            <form action="/books/delete/{{book.id}}" method="post">
                <input type="submit" value="Submit"/>
            </form>

        </div>
    {% endfor %}


{% endblock content %}